<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {
            color: green;
        }
        p {
            color: red;
        }
    </style>
</head>
<body>
    <h1>DJANGO</h1>
    <p>Мощный фреймворк - для создание сайтов</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxZHHAOYAKqg-QTAVpzxOOJi212MP-5CEXoA&s">
    <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxZHHAOYAKqg-QTAVpzxOOJi212MP-5CEXoA&s"></a>
    <button>СКАЧАТЬ</button>
    <video></video>

</body>
</html>
